	.navbar-default .navbar-brand {
		color: rgba(255, 255, 255, 1);
	}
	.navbar-default {
		font-size: 15px;
		background-color: rgba(76, 0, 105, 1);
		border-width: 1px;
		border-radius: 4px;
		margin-top: 5em; 
	}
	.navbar-default .navbar-nav>li>a {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(76, 0, 105, 1);
	}
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(17, 255, 215, 1);
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(57, 232, 141, 1);
	}
	.navbar-default .navbar-toggle {
		border-color: #39e88d;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: #39e88d;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #39e88d;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: #4c0069;
	}